
.header{
    width: 100%;
    height: 70px;
    background-color: var(--primary-bg); 
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}


.__nav-list{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}

.__nav-item .__nav-link{
    color: var(--secondary);
    transition: .3s;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    font-family: 'Bruno Ace', sans-serif;
    font-size: 16px;
}

::marker{
    color: transparent;
}

.__nav-item .__nav-link:hover{
    color: var(--light-white);
    border-bottom: 1px solid var(--light-white);
    transition: .3s ease-in;
}

.__logo-link{
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--secondary);
    text-decoration: none;
    font-family: 'Bruno Ace', sans-serif;
}


.__logo-link:hover{
    color: var(--light-white);
    text-decoration: none;
}

.__logo-box img{
    position: relative;
    top: -4px;
    width: 40px;
    height: 40px;
    gap: 5px;
}

.__button-box{
    margin-bottom: 12px;        
}
.__button-box a{
    text-decoration: none;
    color: var(--secondary);
}

.__button-content{
    font-family: 'Bruno Ace', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.__button-content:hover{
    border: 1px solid var(--light-white);
    background-color: var(--light-white);
    color: var(--primary-bg);
    transition: .3s ease-in-out;
}

.__mobile-menu i{
    position: relative;
    top: -15px;
    color: var(--white);
    font-size: 1.3rem;
    cursor: pointer;
}


.__mobile-menu{
    display: none;
}

.header-shrink{
    background: var(--primary-bg);
    box-shadow: 2px 2px 4px -2px var(--secondary);
}


/*------------------RESPONSIVE-------------------*/
@media screen and (max-width: 992px){
    .__nav-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: none;
    }
    .__nav-list{
        position: absolute;
        top: 2.2rem;
        right: -10px;
        width: 160px;
        height: 100%;
        background: var(--primary-bg);
        z-index: 999999;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        padding-left: 10px;
    }

    .__menu-active{
        display: block;
    }

    .__mobile-menu{
        display: block;
        color: var(--light-white)
    }

    .btn{
        display: none;
    }

    .header{
        width: 100%;
        height: 50px;
        line-height: 50px
    }
}


@media screen and (max-width: 768px){
    .__nav-list{
        right: -10px;
        width: 150px;
    }
}


@media screen and (max-width: 576px){
    .__nav-list{
        right: -10px;
    }
}


@media screen and (max-width: 390px){
    .__nav-right button{
        display: none;
    }
    .__mobile-menu i{
      right: 15px;
    }
}
